{% extends "layout.html" %}
{% block content %}
	<h1 class = "mb-3">What is pEEp?</h1>
	<p>
		More than 50 million people spend more than $40 billion 
		every year on bird-related equipment and travel.
		In addition to the huge market for bird-related activities,
		bird-related hobbies and passions also have a positive impact 
		on people’s mental health and world outlook because it provides 
		such an authentic way to interact with nature. Authentic
		interactions like these are ever more important as we spend more
		and more of our time indoors, and this is the driving force behind 
		the creation of the pEEp Smart Feeder.
	</p>
	<p>
		David Plemmons is an avid bird watcher and enthusiast. 
		He has been working hard over the last three years to bring his vision
		to fruition. His product, the pEEp Smart Feeder, aims to bring people closer
		to the birds around them through the use of a live-streaming bird feeder. 
		With this feeder, people can get up close and personal with the birds in
		their neighborhood while learning more about different species and gaining 
		a respect for their feathered neighbors.
	</p>
	<p>
		While David’s product is already very viable and has been given the stamp of 
		approval from countless birds, he wishes to expand pEEp into a community rather 
		than just a product. On its own, the pEEp Smart Feeder already delivers a world-class 
		bird watching experience. What is lacking, though, is an ability for users of the pEEp 
		Smart Feeder to share their findings with each other. 
		Sure, people could just make a Facebook group or post 
		snapshots on their timelines, but this misses the point. 
		Bird enthusiasts are a passionate group, and a website where they can store their findings,
		share these findings with others, and learn more about the birds around them would tie 
		pEEp together and allow pEEp to become a vibrant community.
		
	</p>
{% endblock content %}
