{% extends "layout.html" %}
{% block content %}
	<h1 class="mb-3">{{ user.username }}'s Images</h1>
	
<div class = "row">
	<div class = "col">
	{% for image in images %}
	<div class = "container-fluid"> 
		<div class = "row image-box">
			<div class = "col-lg">
				<a href = "{{ url_for('static', filename='user_uploads/' + image.image_file) }}"
				   class = "fancybox" data-fancybox = "gallery1">
					<img
					class=""
					style="height: auto; width: 280px;"
					src="{{ url_for('static', filename='user_uploads/' + image.image_file) }}"
					alt="">	
				</a>
				{% if image.owner == current_user %}
				<div>
				  <div class = "button-style">
					  <button type="button" class="btn btn-sm m-1 favorite-btn" >
						  <span class = "material-icons">favorite_border</span>
					  </button>
					<a class="btn btn-sm m-1 mb-1 identify-btn" href="{{url_for('images.classify_bird', image_id=image.id)}}">Identify</a> <br>
					<button type="button" class="btn btn-sm m-1 delete-btn" data-toggle="modal" data-target="#deleteModal{{image.id}}">
						<span class = "material-icons">delete</span>
					</button>
				  </div>
				
				</div>
			</div>
		</div>
	</div>
	
		<!-- Modal -->
			<div class="modal fade" id="deleteModal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
						<h5 class="modal-title" id="deleteModalLabel">Delete Image?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
						<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<form action="{{ url_for('images.delete_image', username=current_user.username, image_id=image.id) }}" method="POST">
							<input type="submit" class="btn btn-danger" value="Delete">
						</form>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		{% endfor %}
	</div>

	<div class = "col">
			<h4> Image Folders</h4>
			<button> Favorites </button>
	</div>
</div>
{% endblock content %}