body {
	background: #a3b18a;
	color: #333333;
	margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
	color: #444444;
  }
  
  .image-box{
    margin: 20px;
  }
  .bg-steel {
	background-color: #344e41;
  }

  .list-group-item {
  background-color: #dad7cd;
	border-style: solid;
  }
  .site-header .navbar-nav .nav-link{
	color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
	color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
	font-weight: 500;
  }
  
  .content-section {
	background: #dad7cd;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
  }
  
  .article-title {
	color: #444444;
  }
  
  a.article-title:hover {
	color: #a3b18a;
	text-decoration: none;
  }
  
  .article-content {
	white-space: pre-line;
  }

  a.mr-2 {
    color: black;
  }
  .article-img {
	height: 65px;
	width: 65px;
	margin-right: 16px;
  }
  
  .article-metadata {
	padding-bottom: 1px;
	margin-bottom: 4px;
	border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
	color: #333;
	text-decoration: none;
  }
  
  .article-svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
  }
  
  .account-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
  }
  
  .account-heading {
	font-size: 2.5rem;
  }

  .nav-link {
    color: black;
  }

   a.nav-link:hover {
   color: #a3b18a;;
  }
  .identify-btn{
    background-color: black;
    position: absolute;
    bottom: 0%;
    left: 20%;
    margin: 5px;
    height: 30px;
    color: white;
  }
  a.identify-btn:hover{
    color: #a3b18a;
  }

  .delete-btn{
    background-color: red;
    position: absolute;
    left: 80%;
    bottom: 0%;
    height: 30px;
    width: 40px;
    text-align: center;
    color: white;
  }
  .favorite-btn{
    background-color: black;
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 30px;
    width: 40px;
    text-align: center;
    color: white;
  }

  .mb-3{
    color: #fffaf0;
  }
  .actions {
    font-size: 20px;
  }
  .action-icon {
    width: 20px;
  }
  .button-style{
    height: 40px;
    width: 280px;
    padding: 20px;
    background: rgba(204, 204, 204, 0.5);
    position: absolute;
  }
  .col-lg {
    padding: 20px;
    }

  .comment-btn {
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
  }