/* image stuff */
.navbar-logo{
  height: 5%;
  width: 5%;
}
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.image-box{
  margin: 20px;
}
.image-content{
  margin-top: 20x;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  background-color: #333333;
  height: 260px;
  width: 220px;
  align-content: center;
}

/* main css */
body {
	background-image: url('./design-images/background.jpg');
	color: #333333;
	margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
	color: #eabb00;
  }
  .content-section{
    box-shadow: 10px 10px 50px black;
  }

  .bg-steel {
	background-color: black;
  }

  .list-group-item {
  background-color: #dad7cd;
	border-style: solid;
  }
  .site-header .navbar-nav .nav-link{
	color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link:hover {
	color: #95f953;
  }
  
  .site-header .navbar-nav .nav-link.active {
	font-weight: 500;
  }

  .form-control-file{
    color: white;
  }
  
  .content-section {
	background: #404040;
	padding: 10px 20px;
	border: 1px solid #404040;
	border-radius: 3px;
	margin-bottom: 20px;
  }

  p{
    color: white;
  }
  a.mr-2 {
    color: black;
    text-decoration: none;
  }
  
  /* article */
  .article-title {
	color: #eabb00;
  }
  
  a.article-title:hover {
	color: white;
	text-decoration: none;
  }
  
  .article-content {
	white-space: pre-line;
  word-break: break-word;
  }
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
    margin-top: 10px;
  }
  .article-img-2 {
    height: 35px;
    width: 35px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  
  .nav-link {
    color: #95f953;
  }
  a.nav-link:hover {
    color: white;
  }
  
  a.mr-2{
    color: #eabb00;
  }
  a.mr-2:hover{
    color: white;
  }
  .mb-3{
    color: #fffaf0;
  }
  .actions {
    font-size: 20px;
  }
  .action-icon {
    width: 20px;
  }
  .col-lg {
    padding: 20px;
  }
  
  legend{
    color: white;
  }
  label {
    color: white;
  }
  .upload-body{
    color:white;
  }
  .wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  /* comment stuff */
  .comment{
    position:relative;
    left: 13%;
  }
  .subcomment{
    position:relative;
    left: 10%;
  }
  
  .comment-section {
    overflow-y: scroll;
    padding: 20px;
    padding-bottom: 30px;
    max-height: 1000px;
    background-color: #404040;
    box-shadow: 10px 10px 50px black;
  }
  .sub-comment{
    width: 90%;
    float: right;
  }
 
  /* buttons */
  .std-btn{
    background-color: black;
    position: absolute;
    bottom: 0%;
    margin: 5px;
    height: 30px;
    color: white;
    text-align: center;
  }
  .btn-outline-info {
    background-color: black;
    border-color: black;
    color: white;
  }
  .btn-info
  {
    background-color: #95f953;
    border-color: #95f953;
    color: black;
  }
  .btn-info:hover {
    color: white;
    background-color: black;
    border-color: black;
  }
  .btn-outline-info:hover{
    background-color: #95f953;
    border-color:#95f953;
    color: black;
  }

  #favorite-btn{
    position: absolute;
    top: 10%;
  }
  .home-dropdown-btn {
    background-color: black;
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 30px;
    color: white;
    margin: 5px;
    text-align: center;
  }
  .dropdown-btn{
    background-color: black;
    position: absolute;
    bottom: 0%;
    right: 0%;
    top: 10%;
    height: 30px;
    color: white;
    margin: 5px;
    text-align: center;
  }
  .button-style{
    height: 40px;
    width: 200px;
    position: absolute;
  }
  .reply-btn {
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
    margin: 20px;
  }
  .btn:hover{
    color: #95f953;
  }

.view-all-btn{
  border-radius: 10px;
  color: #95f953;
  border: none;
}
.view-all-btn:hover {
  text-decoration: none;
  color: #95f953;
}
.prev-comments{
  background-color: grey;
  margin-top: 10px;
}
.delete-comment{
  background-color: red;
  height: auto;
  width: auto;
  align-content: center;
  padding-top: 10px;
  text-align: center;
  color: white;
}

/* drop down */
#imageDropdown{
  position: absolute;
  right: 0%;
}
.dropdown-delete{
 color: red;
}

.dropdown-item{
text-decoration: none;
}
.dropdown{
  padding: 10px;
}

/* carousel */

/* media query
@media screen and (min-width: 600px){
  .user-image {
    width: 150px;
  }
}
@media screen and (min-width: 800px){
  .user-image {
    width: 200px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 800px) {
  .user-image {
    width: 10px;
  }
} */